<div class="navbar">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><i class="material-icons">monetization_on</i>CryptFolio</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="menu1" class="right hide-on-med-and-down">
          <%if (!currentUser) { %>
          <li><a class="menu2" href="/auth/signup">Sign up</a></li>
          <li><a class="menu2" href="/auth/login">Login</a></li>
          <% } %>
        </ul>
        <ul class="right hide-on-med-and-down">
          <%if (currentUser) { %>
            <li><a class="menu2" href="/profile"><i class="material-icons">account_circle</i></a></li>
            <li><a class="menu2" href="/main">Main</a></li>
            <li><a class="menu2" href="/auth/logout">Logout</a></li>
          <% } %>
            
        </ul>
      </div>
    </nav>
</div>
    <ul class="sidenav" id="mobile-demo">
            <%if (!currentUser) { %>
              <li><a class="menu2" href="/auth/signup">Sign up</a></li>
              <li><a class="menu2" href="/auth/login">Login</a></li>
            <% } %>
            <%if (currentUser) { %>
              <li><a class="menu2" href="/profile"><i class="material-icons">account_circle</i></a></li>
              <li><a class="menu2" href="/auth/logout">Logout</a></li>
            <% } %>
            </ul>

  


