<div class="se-pre-con"></div>

<div class='row center'>
    <div class='carouseltop col s12 m12 l12'>
        <div class="carousel carousel-slider center z-depth-5" data-indicators='true'>
            <div class="carousel-fixed-item center">
                    <h1>Track Your Investments</h1>
                <p class='flow-text white-text'>Keep track of your digital assets!</p>
                <% if (!currentUser) { %>
                    <a href = '/auth/signup' class="btn waves-effect accent-4 white-text darken-text-2">Sign Up!</a>
                    <% } %>

                    <% if (currentUser) { %>
                <a href = '/main' class="btn waves-effect accent-4 white-text darken-text-2">Go To Profile</a>
                <% } %>
            </div>
                <a class="carousel-item" href="#one!">
                    <img class='responsive-img' src="/img/stock/2.jpeg"></a>
                <a class="carousel-item" href="#two!">
                    <img class='responsive-img' src="/img/stock/3.jpg"></a>
                <a class="carousel-item" href="#three!">
                    <img class='responsive-img' src="/img/stock/3.png"></a>
                <a class="carousel-item" href="#four!">
                    <img class='responsive-img' src="/img/stock/4.png"></a>
                </div>
            </div>
        </div>

<hr>
<br>
<div class='row center'> 
    <div class="col s8">
        <form action='/main/result' method='POST'>
            <div class="input-field" id="searchbaronmain">
                <input id="search" class="z-depth-3 white-text" type="search" name='search' placeholder='Search by Name or TickerID' autocomplete="off" required>
                <label class="label-icon " for="search"></label>
                <i class="material-icons magnifying white-text text-darken-2">search</i>
            </div>
    </div>
            <div class='col s4'>
                <button class="btn waves-effect waves-light z-depth-3" type="submit" name="action">Submit</button>
            </div>
        </form>
</div>


    