<!DOCTYPE html>
<html>
<head>
	<title>OMT-CryptFolio</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<header class='header'> <% include partials/navbar %> </header>
<body>
	<div class="fh5co-loader"></div>
	<div class="container">
	<% include partials/alerts %>
	<%- body %>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    
	<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.datepicker');
		var instances = M.Datepicker.init(elems,{
			yearRange: 50,
			autoClose: false
 		 });
  	});
	</script>
</body>
</html>


