<div class="se-pre-con"></div>

<h2>Main Page Logged IN</h2>

        <div class="row">
            <div class="col s6">
            <form action='/main/result' method='POST'>
                <div class="input-field" id="searchbaronmain">
                    <input id="search" class="z-depth-3" type="search" name='search' placeholder='Search by Name or TickerID' required>
                    <label class="label-icon" for="search"></label>
                    <i class="material-icons magnifying white-text text-darken-2">search</i>
                </div>
            </div>
            <div class='col s6'>
                <button class="btn waves-effect waves-light z-depth-3" type="submit" name="action">Submit</button>
            </div>
            </form>  
        </div> 
            



