nav {
	min-height: 50px;
}
.nav-wrapper {
	background-color: rgb(41, 41, 41);
	
}

.brand-logo {
	color: #d42aff !important;
}

.menu2 {
	color: #d42aff !important;
}

.alertIcon {
	margin: 5px;
	height: 75px;
}

.alert {
	background-color: #424242 !important;
	padding-bottom: 25px;
}

.facebookbutton {
	background-image: url('../img/facebook-sign-in-button.png');
}

/* button {
	background-color: #d42aff !important;
} */

.datepicker-date-display {
	background-color: #d42aff !important;
}

.datepicker-table td.is-selected {
	background-color: #d42aff !important;
}

/* .datepicker-table td.is-today {
	color: 
} */

nav a {
	margin: 8px 10px 15px;
	text-decoration: none;
	font-weight: bold;
    font-size: 25px;
}

.input-field>label {
	font-weight: 400;
    font-size: 10px;
}

.right:hover {
	color: #c9d7ff; 
}

.btn:hover {
	background-color: #858fff;
}

.input-field input[type=text]:focus + label {
     color: #6774ff;
}

.input-field input[type=text]:focus {
	 border-bottom: 1px solid #6774ff;
	 box-shadow: 0 1px 0 0 #6774ff;
}

.input-field input[type=email]:focus + label {
     color: #6774ff;
}

.input-field input[type=email]:focus {
	 border-bottom: 1px solid #6774ff;
	 box-shadow: 0 1px 0 0 #6774ff;
}

body {
	font-family: 'Raleway', sans-serif;
	/* font-weight: 800;
	letter-spacing: 1px; */
    /* font-size: 30px; */
	color: #d42aff;
	background-color: rgb(41, 41, 41);
}

.btn {
	background-color: #d42aff !important;
}
		  
.card {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
    font-size: 20px;
    color: #172696;
}

/* .profilepic {
	max-height: 500px;
	max-width: 500px;
} */

.profile {
	background-color: rgb(41, 41, 41);
	border: transparent 10px solid;
	border-radius: 20px;
	height: 450px;
}

.fh5co-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/img/loader.gif) center no-repeat #fff;
 }